body {
  background: rgb(34, 48, 63);
}
.App {
  text-align: center;
  color: white;
  width: 100%;
  max-width: 740px;
}
.App .header {
  margin: 80px;
}
.input {
  margin: 16px;
}
input:focus{
  outline: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb;
  opacity: 0.7; /* Firefox */
}
.input input {
  width: 100%;
  padding: 8px 24px;
  box-sizing: border-box;
  border-radius: 24px;
  line-height: 30px;
  background: rgba(255,255,255,0.3);
  font-size: 22px;
  color: white;
}
.btn {
  border-radius: 14px;
  padding: 8px 37px;
  background: rgb(24, 34, 45);
  color: white;
  font-size: 20px;
}
.btn:focus {
  outline: none;
}
